.heart {
  i {
    font-size: 25px;
    cursor: pointer;
  }

  span{
    &:hover{
      .far{
        display: none;
      }
      .fas{
        background:-moz-linear-gradient(50deg,#FF79DA,#9356DC);
        background: -webkit-linear-gradient(50deg,#FF79DA,#9356DC);
        background: linear-gradient(50deg,#FF79DA,#9356DC);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
      }
    }
    &:not(:hover){
      .fas{
        display: none;
      }
    }
  }
  .far {
    color: #646464;
  }
  .fas{
    color: transparent;

  }
}
