.logo
{
	text-align: center;
	margin-top: 15px;
	h1{
		display: none;
	}
	img{
		width: 50%;
	}
}
.search_location
{
	background:#f1f0f1 ;
	margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 55px;
}
.logo_location
{
	display: flex;
	i{
		margin-left: 90px;
		margin-right:18px;
	}
}

.fas{
	font-size: 16px;
}

.location
{
	padding-bottom: 15px;
    padding-top: 10px;
    background:#eaeaea ;
    border-top: solid #dbdbdb 4px;
	margin-left: 25%;
}

.city
{
	font-size: 16px;
	color: #474747;
	font-weight: 700;
}
.search_restaurant
{
	text-align: center;
	h3{
		font-size: 25px;
		font-weight: bold;
		margin-left: 30px;
    	margin-right: 30px;
    	margin-bottom: 10px;
		margin-top: 40px;
	}
	.description_search{
		color:#606060;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 30px;
		font-size: 17px;
	}
}
.function{
	h2{
		font-size: 23px;
		margin-left: 30px;
		margin-top: 50px;
		margin-bottom: 25px;
		font-weight: bold;
	}
}

.restaurant_list{
	width: 100%;
	background: #f1f0f1;
	padding-bottom: 50px;
	h2{
		margin-left: 20px;
		padding-top: 55px;
		font-size: 24px;
		margin-top: 65px;
		font-weight: bold;
		}
}

footer{
	background: black;
}

@import "buttons";
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "card_function";
@import "restaurant_card";
@import "footer";
@import "heart";
@import "bloc_page";
@import "loader";

